<h1>Welcome to JavaScript!</h1>

<button onclick="makeAlert()">Make Alert on Click!</button>
<button onmouseover="makeAlert()">Make Alert on Mouseover!</button>
<button onmouseup="makeAlert()">Make Alert on Mouseup!</button>



<script type="text/javascript">
  function makeAlert() {
    alert("Check this out People!")
  }
</script>